.osTab
{
    -fx-background-color: #36312e;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}
.AnchorPane
{
    -fx-background-color: #36312e;
    -fx-text-fill: white;
}

.tabPane
{
    -fx-background-color: #36312e;
    -fx-text-fill: white;
}

.tab-pane > .tab-header-area > .tab-header-background {

    -fx-background-color: #36312e;
}

.mytext{
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.solartab .tab:selected  {
    -fx-background-color: linear-gradient(to bottom, #373e47, #85c2ff);
    -fx-border-color: linear-gradient(to top,  #1e90ff, #077087);
    -fx-border-insets: 1 1 0 0;
    -fx-border-width: 3;
}

.solartab .tab {

    -fx-background-color: linear-gradient(to bottom, #373e47, #85c2ff);
    -fx-border-color: #077087;
    -fx-border-insets: 0 1 0 0;
    -fx-border-width: 1;
 }

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.computerSystemButton {
    -fx-background-color: linear-gradient(to bottom, #373e47, #85c2ff);
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.computerSystemButton:hover{
    -fx-background-color: linear-gradient(to bottom, grey,#b8dbff);
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.computerSystemButton:pressed{
    -fx-background-color:linear-gradient(to top left, #373e47,#627182);
    -fx-alignment: CENTER;
    -fx-text-fill: grey;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.table-view .column-header{
    -fx-background-color: linear-gradient(to bottom, #373e47, #85c2ff);

}
.table-view .column-header .label{
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}